<h2>Pirate</h2>
<p>Pirate's Name: <%= @pirate.name %></p>
<p>Pirate's Height: <%= @pirate.height %></p>
<p>Pirate's Weight: <%= @pirate.weight %></p>

<h2>Ships</h2>
<p><% @ships.each do |ship| %>
   <p>Ship Name: <%= ship.name %></p>
   <p>Ship Type: <%= ship.type %></p>
   <p>Ship Booty: <%= ship.booty %></p><br>
<% end %> </p>